{% extends 'base.html.twig' %}

{% block title %}Lista kierowców{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="card shadow-sm border-0 rounded-lg w-75">
            <div class="card-header bg-light text-center fw-bold p-3">
                <div class="card-title">
                    Lista kierowców
                </div>
            </div>
            <div class="card-body">
                <table id="driversTable" class="table table-bordered table-striped table-hover border">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Numer telefonu</th>
                        <th>PESEL</th>
                        <th>Data zatrudnienia</th>
                        <th>Data zwolnienia</th>
                        <th>Opiekun</th>
                        <th>Edycja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for driver in drivers %}
                        <tr>
                            <td>{{ driver.name }}</td>
                            <td>{{ driver.surname }}</td>
                            <td>{{ driver.phoneNumber }}</td>
                            <td>{{ driver.pesel }}</td>
                            <td>{{ driver.employmentDate ? driver.employmentDate|date('Y-m-d') : 'Brak danych' }}</td>
                            <td>{{ driver.terminationDate ? driver.terminationDate|date('Y-m-d') : 'Brak danych' }}</td>
                            <td>{{ driver.guardian ? driver.guardian.getUsername() : 'Brak opiekuna' }}</td>
                            <td class="d-flex">
                                <a href="{{ path('app_driver_edit', {id: driver.id}) }}"
                                   class="btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center p-1 m-1">
                                    <i class="bi bi-pencil-square fs-5"></i>
                                </a>
                                <button type="button"
                                        class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center p-1 m-1 delete-driver"
                                        data-driver-id="{{ driver.id }}">
                                    <i class="bi bi-trash fs-5"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Numer telefonu</th>
                        <th>PESEL</th>
                        <th>Data zatrudnienia</th>
                        <th>Data zwolnienia</th>
                        <th>Opiekun</th>
                        <th>Edycja</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#driversTable').DataTable({
                "language": {
                    "lengthMenu": "Pokaż _MENU_ wpisów",
                    "zeroRecords": "Brak wyników",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak dostępnych kierowców",
                    "infoFiltered": "(filtrowane z _MAX_ rekordów)",
                    "search": "Szukaj:",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                },
                "pageLength": 10,
                "responsive": true,
                "autoWidth": false,
                "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                    "<'table-responsive'tr>" +
                    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count mb-sm-0 mb-3'i><'dt--pagination'p>>"
            });

            $(".delete-driver").on("click", function () {
                let driverId = $(this).data("driver-id");
                let _url = '{{ path('app_driver_delete', {id: -99}) }}'.replace('-99', driverId);

                Swal.fire({
                    title: "Czy na pewno chcesz usunąć wybranego kierowcę?",
                    text: "Tej operacji nie można cofnąć!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: _url,
                            type: "DELETE",
                            headers: {
                                "X-Requested-With": "XMLHttpRequest",
                                "Content-Type": "application/json"
                            },
                            success: function (response) {
                                Swal.fire({
                                    title: "Usunięto!",
                                    text: "Kierowca został pomyślnie usunięty.",
                                    icon: "success",
                                    confirmButtonText: "OK"
                                }).then(() => {
                                    location.reload();
                                });
                            },
                            error: function (xhr) {
                                Swal.fire({
                                    title: "Błąd!",
                                    text: "Wystąpił problem podczas usuwania kierowcy.",
                                    icon: "error",
                                    confirmButtonText: "OK"
                                });
                                console.error(xhr.responseText);
                            }
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}
